<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicio de sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <ion-item lines="full">
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input type="text" formControlName="correo"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="submit" [disabled]="loginForm.invalid">Continuar</ion-button>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
